header{
    text-align: center;
    color:#756d3b;
    font-family: monospace;

    
}
footer{
    background-image: url(/Projects.png); text-align:end;color: #f5d300;background-size: cover;
     
     background-size: cover; font-size: 11px;
}
img[width='200px']{
    border: 3px solid #756d3b;
    border-radius: 10%;
}main{
    text-align: center;font-size: 18px;
}